<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="card">
      <div class="card-body">
        <button [routerLink]="['/students/']" class="btn btn-sm text-info">
          <b>< Retourner</b>
        </button>
        <hr />
        <div *ngIf="student">
          <span>Firstname: {{ student.address }}</span>
          <br />
          <span>Lastname {{ student.lastname }}</span>
          <br />
          <span>Phone: {{ student.phone }}</span>
          <br />
          <span>Email: {{ student.email }}</span>
          <br />
          <span>Address: {{ student.address }}</span>
          <hr />
          <div class="text-center">
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="delete(student.id)"
            >
              delete</button
            >&nbsp;
            <button class="btn btn-outline-dark btn-sm">edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
